[submodule "themes/awesome-identity"]
	path = themes/awesome-identity
	url = https://github.com/posquit0/hugo-awesome-identity
[submodule "public"]
	path = public
	url = https://github.com/FilipeAlex/filipealex.github.io.git
	branch = master
